.movie-details {
  display: flex;
  flex-direction: column;

  .related-movies {
    padding: 20px;
    display: flex;
    flex-direction: column;

    .title {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  .poster {
    display: flex;
    flex-grow: 1;

    img {
      width: 100%;
    }
  }

  .title-details {
    display: flex;
    margin: 20px;

    .left-section, .right-section {
      display: flex;
      flex-direction: column;
    }

    .left-section {
      margin-right: 20px;

      .name {
        font-weight: bold;
        margin-bottom: 15px;
      }
    }

    .right-section {
      background-color: grey;
      border-radius: 5px;
      padding: 15px;

      .field {
        padding: 10px 0;
        display: flex;

        .label {
          font-weight: bold;
          width: 80px;
          display: flex;
          flex-shrink: 0;
        }

        .value {
          display: flex;
        }
      }

      .field:not(:last-child) {
        border-bottom: 1px solid #000;
      }
    }
  }
}