.app-header {
  display: flex;
  background-color: black;
  color: #FFF;
  height: 50px;
  align-items: center;
  padding-left: 20px;

  .app-name {
    font-weight: bold;
    margin-right: 30px;
  }

  a {
    color: #FFF;
    margin-right: 20px;
  }
}